<div class="address mx-auto mt-5">
  <h2 class="mt-5 accomodation">Accomodation</h2>
</div>
<div class="row">
  <div class="col-2">
  </div>
  <div class="col-8">
    <img class="p-3" src="/images/bell-tent.gif">
  </div>
  <div class="col-2">
  </div>
</div>
<div class="address">
  <p>We would love you to join us camping under the stars. You can Either:</p>
  <ul class="camping">
    <li><p>pitch your tent in the field near our tent</p></li>
    <li><p>bring your campervan and park up</p></li>
    <li><p>enjoy a luxury Bell Tent already pitched for you</p></li>
    <li><p>stay nearby in one of the following Hotels or B&B's</p></li>
  </ul>
  <ul class="hotels">
    <li><a href="http://www.springwells.co.uk">http://www.springwells.co.uk</a></li>
    <li><a href="http://www.oldtollgatehotel.com">http://www.oldtollgatehotel.com</a></li>
    <li><a href="http://www.castleinnhotel.co.uk">http://www.castleinnhotel.co.uk</a></li>
    <li><a href="http://www.chequerinnsteyning.co.uk">http://www.chequerinnsteyning.co.uk</a></li>
    <li><a href="https://steyningcottages.co.uk">https://steyningcottages.co.uk</a></li>
    <li><a href="http://uppingham-steyning.co.uk">http://uppingham-steyning.co.uk</a></li>
    <li><a href="http://www.foxglovesbedandbreakfast.co.uk">http://www.foxglovesbedandbreakfast.co.uk</a></li>
    <li><a href="https://www.steyningholidaycottages.co.uk">https://www.steyningholidaycottages.co.uk</a></li>
    <li><a href="http://www.upperbeeding.com/home">http://www.upperbeeding.com/home</a></li>
    <li><a href="http://www.hillviewsteyning.co.uk">http://www.hillviewsteyning.co.uk</a></li>
    <li><a href="http://www.windmilllittleworth.com">http://www.windmilllittleworth.com</a></li>
    <li><a href="https://www.amberleyhousecottages.co.uk">https://www.amberleyhousecottages.co.uk</a></li>
  </ul>
</div>
