<div class="address mx-auto mt-5">
  <h2 class="mt-5 accomodation">Accomodation</h2>
</div>
  <div class="">
    <img class="p-3" src="/images/bell-tent.gif">
  </div>
<div class="address">
  <p>There is a huge selection of accommodation in the areas surrounding Ashurst. We have included links to a few places, however, we would really love you to join us for a night under canopy and stars.</p>
  <p>Let us know via our form if you want us to reserve you a pitch and roughly how much space you need, (eg 2 man tent, 6 berth Motorhome) you can come and pitch on Friday or on Saturday morning before the ceremony starts. If you fancy Glamping please let us know and we can help arrange Bell tent hire, all you have to do is turn up and turn in!</p>
  <ul class="hotels">
    <li><p><a href="http://www.springwells.co.uk">www.springwells.co.uk</a></p></li>
    <li><p><a href="http://www.oldtollgatehotel.com">www.oldtollgatehotel.com</a></p></li>
    <li><p><a href="http://www.castleinnhotel.co.uk">www.castleinnhotel.co.uk</a></p></li>
    <li><p><a href="http://www.chequerinnsteyning.co.uk">www.chequerinnsteyning.co.uk</a></p></li>
    <li><p><a href="https://steyningcottages.co.uk">steyningcottages.co.uk</a></p></li>
    <li><p><a href="http://uppingham-steyning.co.uk">uppingham-steyning.co.uk</a></p></li>
    <li><p><a href="http://www.foxglovesbedandbreakfast.co.uk">www.foxglovesbedandbreakfast.co.uk</a></p></li>
    <li><p><a href="https://www.steyningholidaycottages.co.uk">www.steyningholidaycottages.co.uk</a></p></li>
    <li><p><a href="http://www.upperbeeding.com/home">www.upperbeeding.com/home</a></p></li>
    <li><p><a href="http://www.hillviewsteyning.co.uk">www.hillviewsteyning.co.uk</a></p></li>
    <li><p><a href="http://www.windmilllittleworth.com">www.windmilllittleworth.com</a></p></li>
    <li><p><a href="https://www.amberleyhousecottages.co.uk">www.amberleyhousecottages.co.uk</a></p></li>
  </ul>
</div>
