<div class="address mx-auto mt-5">
  <h2 class="m-5 info-title">Details</h2>
</div>
<div class="info-body">
  <p>Since we decided to get married on 10th December 2017, it’s been a very busy time.</p>
  <p>We at last have enough details to be able to share some information about our plans for the big day.</p>
  <p>Please continue to check back here as the special date approaches as we will continue to add details and information.
  </p>
</div>
