<div class="address mx-auto mt-5">
  <h2 class="m-5 info-title">Details</h2>
</div>
<div class="info-body">
  <h3 class="where"><u>The Ceromony</u></h3>
  <p>We are inviting you to take part in the Ceremony which marks the beginning of the rest of our lives. That’s because you are important to us and we want you to be there. Therefore you will be invited to take an active role at certain points.</p>
  <p>We have a professional on the case, our Celebrant, Sarah, will take us all through it together, but you can be prepared by bringing a ‘noise maker’ if you have a small noise maker, do bring it, tambourines, maracas, shaky egg, party blower. There is no need to bring confetti, but if you do please ensure it is 100% biodegradable. </p>
  <h3 class="when"><u>The after-party</u></h3>
  <p>Join us as the night sets in for our bring a bottle after-party. We will be switching of the amplified music, because the Silent Rave will begin at 11pm. If you’ve never been to one before, you’re in for a treat, all the music has been hand picked by us and you can relive Chris’ youth (Dance music), Jess’ youth (dancing music) or someone else’s youth!</p>
  <p>There will be plenty of areas for those not wishing to continue the dancing to chill-out, enjoy a late night tipple and look at the stars, or watch a Barn full of people boogieing the night away in headphones! Please do bring your white gloves, your hi-vis jackets and your best moves, please don’t bring glo-sticks, we have an environmentally friendly alternative ready for you.</p> 
  
  <h3 class="info-title"><u>Children</u></h3>
  <p>As much as we adore kids, it was quite apparent early on in our decision making that there was no way we would be able to accommodate them all on the day. Therefore we are limited to family and babes in arms. If you’re not family traveling form far away, or nursing a baby, please take the opportunity to call in a favour and come and Celebrate without the small people.</P>
  <p>Please also be aware that our day is going to be largely adult focused and we will not be providing childcare on site so you will need to be responsible for your children’s safety at all times. The venue is on a working farm and includes an area of Riverbank which we cannot control access to.</p>

  <h3 class="accomodation"><u>Seating</u></h3>
  <p>The seating for both our Ceremony and meal will be on trestles and benches. Please let us know if this will be difficult for you, or if you might need a high chair.</P>

  <h3 class="where"><u>Ground surface and footwear</u></h3>
  <p>Of course we are hopeful that the sun will shine on us all and the ground especially both on the day itself, and in the days beforehand, however. The venue is an outside, grass covered field. The floor of the Barn is covered in loose wood shavings and the ground everywhere maybe uneven. Please plan for this and consider your footwear when choosing what to wear, more Hunters than Laboutons!</P>

  <h3 class="when"><u>What to wear/bring</u></h3>
  <p>No party is a party without a bit of sparkle, as far as Jess is concerned anyway. We don’t have a dress code for the day but would love you to embrace the informal, yet celebratory nature of the occasion. It’s Summer, it’s Sussex, it’s our Wedding, help us make it beautiful! We will allocate an area for those not spending the night to store shoes and extra layers for when the sun goes down.<p>
  <p>Please feel free to bring a bottle of something that you fancy for the after-party. We will have space to store it in the fridges to keep it colde for later if needed.</p> 

  <h3 class="info-title"><u>Facilities</u></h3>
  <p>In case we haven’t made it clear before now. The venue for our Wedding is a small cluster of fields on a farm next to a River. All our power will be drawn from a Generator so there will be no access to charge your phone, or anything else. It might be muddy. It might be chilly when the sun goes down. The ground is not even. There is a fast moving body of water. Toilets will be festival style. Please use them considerately, and if you are adequately equipped, please use our Pissour where possible. There is a shower for overnight guests. There is a mains water supply, however please use the sinks with care so we don’t end up with a bog underneath.</P>
  <p>There will be fire, this is because, it looks lovely, gives us light and keeps us warm, but please don’t play with it.</P>

  <h3 class="accomodation"><u>Dietary Requirements </u></h3>
  <p>Please let us know if you require Vegan food, this applies to the main meal, so if you are a dairy free meat eater, let us know that too!</P>

  <h3 class="where"><u>The bar</u></h3>
  <p>The drinks are on us, obvs, but if you’re staying for the after-party, bring a bottle of something nice, you can share it, or not, but we’ll have somewhere cold to store it during the day, a kind of bottle cloakroom arrangement.</p>


  <h3 class="when"><u>The morning after</u></h3>
  <p>Whether you’re staying on site with us or not, we’d love to see you again for breakfast! Bring your swimming cossie and if ‘the water’s lovely’, we’ll go on in!</P>
  <p>We’ll do a Woodcraft stylee rubbish pick and there maybe a game of stall-ball.</P>
  <p>We have to clear the fields of guests by Midday so we’ll say goodbye then, but you’ll have had enough of us by then anyway!</P>

  <h3 class="info-title"><u>The night before</u></h3>
  <p>If you fancy giving us a hand on Friday to do some prep work, we’ve got a few tent-y bits to put up and check the fires work and the fridge keeps stuff cold. Let us know that too.</p>

  <h3 class="accomodation"><u>Rubbish</u></h3>
  <p>We need to leave the site as it was before we arrived which includes the removal of all rubbish. Please help us by using the Recycling and Rubbish bins provided and returning glasses to the bar. Also, just bring what you need and take everything with you when you go. Also we love, glitter, UV, confetti and that kind of thing, but please avoid any single use plastic, conventional glo-sticks and anything that won’t biodegrade or be easily removed after the event.</p>

  <h3 class="where"><u>Gifts</u></h3>
  <p>We have invited you because we are fortunate enough to have you in our lives. We are lucky people, we have you, we have each other, but also, we have a lot of ‘stuff’. Therefore please don’t give us any ‘stuff’, we really have no need, or indeed space for it. No gifts are necessary, it is special for us to have such a wonderful Celebration with you involved, if you do want to make us a gift to mark our new union, then what we most want is the experience of a lifetime, we’re planning a Diving focused Honeymoon in the Galápagos Islands, oh yeah! If you would like to buy us a dive, a dinner, or a bed for the night whilst we are there, that would be hugely appreciated, and part of an experience full of memories to last us forever.</p>
  <br>
  <hr>
  <br

  <p>We have a pretty awesome photographer coming to capture the events, so please just enjoy the day! If you want to share any brilliant photos you have taken, you can use our Wedding hashtag #wardyandcoops </p>
</div>
