<div class="address mx-auto mt-5">
  <h2 class="m-5 info-title">Details</h2>
</div>
<div class="info-body">
  <h3 class="where"><u>The Ceremony</u></h3>
  <p>We want you to be part of the Ceremony beginning the rest of our lives. That’s because you are important to us and we want you to be there and take an active role.</p>
  <p>We have a professional on the case, our Celebrant, Sarah, will take us all through it together, but you can be prepared by bringing a ‘noise maker’ e.g. tambourine, shaky egg, party blower. There is no need to bring confetti, but if you do please check it is biodegradable. </p>
  <p>We have an awesome photographer coming to capture the days events, so please just enjoy yourself! If you want to share any brilliant photos you have taken, you can use our wedding hashtag #wardyandcoops and remember to tag us!</p>

  <h3 class="when"><u>Children</u></h3>
  <p>As much as we adore kids, it was quite apparent early on in our decision making that there was no way we would be able to accommodate them all on the day. Therefore we are limited to family and babes in arms. If you’re not family traveling from far away, or nursing a baby, please take the opportunity to call in a favour and come and celebrate without the small people.</P>
  <p>Our day is going to be adult focused and we will not be providing childcare on site. Please remember you will need to be responsible for your children’s safety at all times. The venue is on a working farm and includes an area of riverbank.</p>

  <h3 class="info-title"><u>Seating</u></h3>
  <p>The seating for both our ceremony and meal will be on trestles and benches. Please let us know if this will be unmanageable for you, or if you need a high-chair.</P>

  <h3 class="accomodation"><u>Ground surface and footwear</u></h3>
  <p>We hope that the sun will shine on us all week but the ground may be muddy or uneven and it could be chilly when the sun goes down. The floor of the barn is covered in loose wood shavings. Please plan for this and consider your footwear when choosing your outfit, think more Hunters than Louboutins!</P>

  <h3 class="where"><u>What to wear/bring</u></h3>
  <p>No party is a party without a bit of sparkle, as far as Jess is concerned. We don’t have a dress code for the day but would love you to embrace the informal, yet celebratory nature of the occasion. It’s Summer, it’s Sussex, it’s our Wedding, help us make it beautiful! We will allocate an area for those not spending the night to store shoes and extra layers for when the sun goes down.<p>

  <h3 class="when"><u>Facilities</u></h3>
  <p>The venue for our Wedding is a small cluster of fields on a farm next to a river. All our power will be drawn from a generator so there will be no sockets to charge phones or anything else. Toilets will be festival style. There is a shower for overnight guests. There is a mains water supply, however please use the sinks with care so we don’t end up with a bog underneath.</P>
  <p>There will be fire, this is because, it looks lovely, gives us light and keeps us warm, but please don’t play with it.</P>

  <h3 class="info-title"><u>Food</u></h3>
  <p>Please let us know if you have any dietry requirements</P>
  <p>We will be laying on some food during the bands to help keep your energy levels up for dancing.</p>

  <h3 class="accomodation"><u>The bar</u></h3>
  <p>The drinks are on us, obvs, but if you’re staying for the after-party, bring a bottle of something nice, you can share it, or not, but we’ll have somewhere cold to store it during the day, a kind of bottle cloakroom arrangement.</p>

  <h3 class="when"><u>The after-party</u></h3>
  <p>Join us when the stars come out for for our bring a bottle after-party. We will be switching off the amplified music, and the silent Rave will begin at 11pm. If you’ve never been to one before, you’re in for a treat, all the music has been hand picked by us and you can relive Chris’ youth (dance music), Jess’ youth (dancing music) or someone else’s youth!</p>
  <p>There will be plenty of areas for those not wishing to continue the dancing to chill-out, enjoy a late night tipple and look at the stars, or watch a barn full of people boogieing the night away in headphones! Please do bring your white gloves, your hi-vis jackets and your best moves, please don’t bring glo-sticks, we have an environmentally friendly alternative ready for you.</p>

  <h3 class="when"><u>The morning after</u></h3>
  <p>Whether you’re staying on site with us or not, we’d love to see you again for breakfast! Bring your swimming cossie and if ‘the water’s lovely’, we’ll go on in!</P>
  <p>We’ll do a Woodcraft stylee rubbish pick and maybe a game of stall-ball.</P>
  <p>We have to clear the fields of guests by Midday so we’ll say goodbye then, but you’ll have had enough of us by then anyway!</P>

  <h3 class="info-title"><u>The night before</u></h3>
  <p>If you fancy giving us a hand on Friday to do some prep work, we’ve got a few tents and bits to put up and check the fires work and the fridge keeps the beers cold. <a href="mailto:wardyandcoops@gmail.com?subject=Friday set up assistance">Let us know </a></p>

  <h3 class="accomodation"><u>Rubbish</u></h3>
  <p>We need to leave the site as it was before we arrived which includes the removal of all rubbish. Please help us by using the recycling and rubbish bins provided and returning glasses to the bar. Just bring what you need and take everything with you when you go. We love glitter, UV, confetti and that kind of thing, but please avoid any single use plastic, conventional glo-sticks and anything that won’t biodegrade or be easily removed after the event.</p>

  <h3 class="when"><u>Gifts</u></h3>
  <p>We have invited you because we are fortunate enough to have you in our lives. We are lucky people, we have you and we have each other, but also, we have a lot of ‘stuff’ and we really do not need any more. No gifts are necessary, if you want to make us a gift to mark our union, what we most want is the experience of a lifetime. We’re planning a diving honeymoon in the Galápagos Islands! If you would like to buy us a dive, a dinner, or a bed for the night - it will be part of a holiday full of memories to last us forever.</p>
</div>
