<div class="address mx-auto m-5">
  <h2 class="m-5 where">Location</h2>
  <p>August Barn</p>
  <p>Pop up by the River</p>
  <p>Ashurst</p>
  <p>Steyning, BN44 3AL</p>
</div>

<div class="row">
  <div class="col-2">
  </div>
  <div id="map" class="col-8">
  </div>
  <div class="col-2">
  </div>
</div>

<script>
  function initMap() {
    var site = { lat: 50.9189446, lng: -0.3030935 };

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: site
    });
    var marker = new google.maps.Marker({
      position: site,
      map: map,
      icon: "http://maps.gstatic.com/mapfiles/ms2/micons/blue-pushpin.png",
      title: "Wedding Venue"
    });
    marker.setMap(map);
  }
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKeiS3d46eyhTuXUptWCwNPqLjUefZKac&callback=initMap">
</script>
