<div class="address mx-auto mt-5">
  <h2 class="m-5 when">Order of the Day</h2>
  <table class="table">
    <tbody>
      <tr>
        <h3>Saturday</h3>
      </tr>
      <tr>
        <th scope="row">Arrival for over-night campers</th>
        <td>10:30 am</td>
      </tr>
      <tr>
        <th scope="row">Arrival for Ceremony</th>
        <td>11:30 am</td>
      </tr>
      <tr>
        <th scope="row">Ceremony</th>
        <td>12:00 pm</td>
      </tr>
      <tr>
        <th scope="row">Wedding Breakfast</th>
        <td>2:00 pm</td>
      </tr>
      <tr>
        <th scope="row">Barn dance with the Green Elastic Band</th>
        <td>6:00 pm</td>
      </tr>
      <tr>
        <th scope="row">Murdoch's Crazy Eyes</th>
        <td>8:00 pm</td>
      </tr>
      <tr>
        <th scope="row">After Party</th>
        <td>11:30 pm</td>
      </tr>
      <tr>
        <th scope="row">Camp fire chill out till the sun comes up</th>
        <td>12:30 am</td>
      </tr>
      <tr>
        <th colspan="2"><h3>Sunday</h3></th>
      </tr>
      <tr>
        <th scope="row">Breakfast</th>
        <td>9:30 am</td>
      </tr>
      <tr>
        <th scope="row">River Swimming</th>
        <td>10:30 am</td>
      </tr>
      <tr>
        <th scope="row">Time to say goodbye</th>
        <td>12:00 pm</td>
      </tr>
    </tbody>
  </table>
</div>
