<div class="address mx-auto mt-5">
  <h3 class="m-5">Line Up</h3>
  <p>Pitch tents 11:30am</p>
  <p>Wedding 12:30pm</p>
  <p>Green Elastic Band 5:00pm</p>
  <p>Headline Act 8:00pm</p>
  <p>Silent Disco 11:30 pm</p>
</div>
