<div class="address mx-auto mt-5">
  <h3 class="m-5">Line Up</h3>
  <table class="table">
    <tbody>
      <tr>
        <th scope="row">Pitch Tents</th>
        <td>11:30 am</td>
      </tr>
      <tr>
        <th scope="row">Wedding</th>
        <td>12:30pm</td>
      </tr>
      <tr>
        <th scope="row">Green Elastic Band</th>
        <td>6:00pm</td>
      </tr>
      <tr>
        <th scope="row">Headline Act</th>
        <td>8:00pm</td>
      </tr>
      <tr>
        <th scope="row">Silent Disco</th>
        <td>11:30pm</td>
      </tr>
      <tr>
        <th scope="row">Breakfast</th>
        <td>10:00 am(Sunday)</td>
      </tr>
    </tbody>
  </table>
</div>
