<div class="container">
  <div class="row">
    <div class="col-m mx-auto">
      <img class="mt-4"src="/images/banner.gif">
      <h1 class="m4 text-center">Saturday 18th August 2018</h1>
      <section id="line-up" class="section-wrapper">
        <%= render 'components/when' %>
      </section>
      <section id="where" class="section-wrapper">
        <%= render 'components/map' %>
      </section>
      <section id="info" class="section-wrapper">
        <%= render 'components/info' %>
      </section>
      <section id="join-us" class="section-wrapper">
      </section>
    </div>
  </div>
</div>
