<div class="container">
  <div class="row">
    <div class="col">
      <h3>Welcome to WardyandCoops.co.uk</h3>
      <img src="https://blog.beautheme.com/wp-content/uploads/2016/06/feature2.jpg">
    </div>
  </div>
</div>
