<div class="container rsvp-form">
  <div class="col-m mx-auto mb-4">
    <img src="/images/thankyou--ban-WC.gif">
  </div>
  <p>
    <%= @wedding_response.names %>, we are so sorry that you will not be able to make it. We will have to get a date in the diary and celebrate with you another time.
  </p>
  <br>
