<div class="container rsvp-form">
  <div class="col-m mx-auto mb-4">
    <img src="/images/thankyou--ban-WC.gif">
  </div>
  <p>
    <%= @wedding_response.names %>, we are deligthed that you can make it and are looking forward to you joining us to celebrate our big day!
  </p>
  <br>

  <% unless @wedding_response.dietry_requirements.empty? %>
    <p>Thank you for letting us know about the following dietary requirements. We will make sure you do not go hungry!</p>
    <p><%= @wedding_response.dietry_requirements %></p>
    <br>
  <% end %>

  <% if @wedding_response.friday_night %>
    <p> We are looking forward to seeing you for a few QUIET drinks on the Friday night. We will have the grills hot from 7pm so bring something to throw on the grill and something to wash it down with.</p>
    <br>
  <% end %>

  <% if @wedding_response.camping? %>
    <p>Remember to pack your tent - we may even help you with trying to pitch it.</p>
  <% end %>

  <% if @wedding_response.campervan? %>
    <p>We will make sure there is a space marked out for your campervan.</p>
  <% end %>

  <% if @wedding_response.bell_tent? %>
    <p>We will put you in touch with the bell tent company so that you can organize having a luxury tent pre-erected for you.</p>
  <% end %>

  <% if @wedding_response.hotel? %>
    <p>There is a list of Hotel's and B&B's on the <%= link_to("Home Page", "/home#accomodation", {}) %> along with the numbers for some local taxi companies.</p>
  <% end %>
  <br>

  <% if @wedding_response.breakfast %>
    <p>We will be firing up the BBQ for some breakfast at 10am. We are next to a river so remember to pack your swimming costume!</p>
  <% end %>
  <br>

  <P>Do not to forget to bring a noise maker for the ceremony and a bottle of something for the after party!!</p>
</div>
