@font-face {
  font-family: "Chunkfive";
  src: font-url("Chunkfive.otf");
}

@font-face {
  font-family: "AmaticBold";
  src: font-url("AmaticSC-Bold.ttf");
}

@font-face {
  font-family: "Amatic";
  src: font-url("AmaticSC-Regular.ttf");
}

@font-face {
  font-family: "BadScript";
  src: font-url("BadScript-Regular.ttf");
}
