.m4 {
  margin-bottom: 40px;
}

.text-center {
  text-align: center;
  font-family: BadScript;
}

.camping {
  list-style: inside circle;
}

.hotels {
  list-style: none;
}

#map {
  height: 400px;
  width: 100%;
}

.address {
  font-size: 22px;
  text-align: center;
  font-family: BadScript;

   p {
   margin-bottom: 0.8rem;
  }
}

.section-wrapper {
  display: flex;
  flex-direction: column;
}

.where {
  font-family: BadScript;
  font-size: 30px;
  color: #DF9718;
}

.accomodation {
  font-family: BadScript;
  font-size: 30px;
  color: #0056b3;
}

.info-title {
  font-family: BadScript;
  font-size: 30px;
  color: #5C8147;
}

.info-body {
  font-family: BadScript;
  font-size: 22px;
}

.when {
  font-family: BadScript;
  font-size: 30px;
  color: #156863;
}

.rsvp {
  font-family: BadScript;
  font-size: 30px;
  color: #DF9718;
}

.flapping {
  background-image: url("/images/Justflapping.gif");
  background-size: cover;
  height: 300px;
  width: 300px;
}

.falling {
  background-image: url("/images/Justfalling.gif");
  background-size: cover;
  height: 300px;
  width: 300px;
}

.sticky-flapping {
  position: sticky;
  top: 100px;
}
