.m4 {
  margin-bottom: 40px;
}

.text-center {
  text-align: center;
  font-family: BadScript;
}

.camping {
  list-style: inside circle;
  padding-left: inherit;
}

.hotels {
  list-style: none;
  padding-left: inherit;
  font-size: 16px;
  @media (min-width: 768px) {
    font-size: 22px;
  }
}

#map {
  height: 400px;
  width: 100%;
}

.address {
  font-size: 22px;
  text-align: center;
  font-family: BadScript;

   p {
   margin-bottom: 0.8rem;
  }
}

.section-wrapper {
  display: flex;
  flex-direction: column;
}

.where {
  font-family: BadScript;
  font-size: 30px;
  color: #DF9718;
}

.btn-submit {
  color: #fff;
  background-color: #5C8147;
  border-color: #5C8147;
}

.accomodation {
  font-family: BadScript;
  font-size: 30px;
  color: #5C8147;
}

#info {
  position: reltive;
}

.info-title {
  font-family: BadScript;
  font-size: 30px;
  color: #0056b3;
}

.info-body {
  font-family: BadScript;
  font-size: 22px;
}

.when {
  font-family: BadScript;
  font-size: 30px;
  color: #156863;
}

.rsvp {
  font-family: BadScript;
  font-size: 30px;
  color: #DF9718;
}

.rsvp-large {
  @media (min-width: 768px) {
    font-size: 70px;
  }
}

#animate {
  width: 100%;
  position: sticky;
  top: 200px;
  @media (min-width: 768px) {
    height: 200px;
    width: 200px;
  }
  @media (min-width: 992px) {
    height: 300px;
    width: 300px;
  }
}
