<%# add navigation links to this file %>
<%# <%= link_to "Sign In", new_user_session_path %1> %>
<li class="nav-item">
  <a class="nav-link line-up" href="#line-up">Line Up</a>
</li>
<li class="nav-item">
  <a class="nav-link where" href="#where">Venue</a>
</li>
<li class="nav-item">
  <a class="nav-link info" href="#info">Info</a>
</li>
<li class="nav-item">
  <a class="nav-link join-us" href="/wedding_responses/new">Join Us</a>
</li>
